<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My News App{% endblock %}</title>
</head>
<body>
    <header>
        <h1>My News App</h1>
        <nav>
            <ul>
                <li><a href="/news/">Новости</a></li>
                <li><a href="/post/">Новости</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        &copy; 2023 My News App
    </footer>
</body>
</html