{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>Все новости ({{ posts|length }})</h1>
   <h3>{{ time_now|date:'d.m.Y' }}</h3>
   <h3>{{ next_news|default:"Скоро будет много интересных новостей!" }}</h3>
   <hr>
   {% if posts %}
       <ul>
           {% for post in posts %}
           <li>
               <h2>{{ post.name | censor }}</h2>
               <p>Дата публикации: {{ post.pub_date|date:'d.m.Y' }}</p>
               <p>{{ post.content|truncatewords:20| safe | censor }}</p>
               <p>Автор: {{ post.author}}</p>
               <a href="/post/{{ post.id }}">Читать далее</a>
           </li>
           {% endfor %}
       </ul>
   {% else %}
       <h2>Новости не найдены!</h2>
   {% endif %}
{% endblock content %}